html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

* button {
  background: transparent;
  border: none;
}

.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.footer__menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 23px 141px;
}

.header {
  background-color: #030303;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 83px 85px 76px;
}

.logo__link {
  color: #fff;
}

.logo__link:hover {
  color: #9d8665;
}

.logo__link .logo__title {
  font-family: "Forum", cursive;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-left: 70px;
  background-image: url(../../assets/svg/icon.svg);
  background-size: 49px 33px;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

.navigation {
  max-width: 720px;
  width: 100%;
}

.navigation .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.2s;
}

.navigation .menu .menu__item:first-child {
  padding-left: 0;
}

.menu__link {
  padding-left: 0;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  color: #fff;
  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  transition: all 0.2s;
}

.menu__link:hover {
  color: #9d8665;
}

.menu__link:active {
  color: #710707;
}

.welcome-content__btn {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 360px;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
  background-color: #710707;
  border-radius: 10px;
  transition: all 0.2s;
}

.welcome-content__btn:hover {
  background-color: #9d8665;
}

.video-player__middle_play {
  height: 220px;
  width: 220px;
  background-image: url("../../assets/svg/videoPlay.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
}

.amount__btn_buy {
  padding: 10px;
  text-align: center;
  width: 175px;
  height: 50px;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: #030303;
  color: #fff;
  transition: all 0.2s;
}

.amount__btn_buy:hover {
  background-color: #9d8665;
  color: #030303;
}

.btn {
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s;
}

.control-panel .video-player__btn_back {
  width: 27px;
  height: 30px;
  background-image: url("../../assets/svg/btn-back.svg");
}

.control-panel .video-player__btn_play {
  width: 23px;
  height: 30px;
  background-image: url("../../assets/svg/btn-play.svg");
}

.control-panel .video-player__btn_forward {
  width: 27px;
  height: 30px;
  background-image: url("../../assets/svg/btn-forward.svg");
}

.control-panel .volume .btn_volume {
  margin-right: 20px;
  width: 38px;
  height: 30px;
  background-image: url("../../assets/svg/btn-volume.svg");
}

.control-panel .video-player__input_progress {
  width: 820px;
}

.control-panel .video-player__btn_fullScreen {
  width: 36px;
  height: 36px;
  background-image: url("../../assets/svg/btn-fullScreen.svg");
}

.container_flex {
  display: flex;
}

.welcome-slider {
  flex-basis: 50%;
  position: absolute;
  display: block;
  left: 250px;
  z-index: 1;
}

.flex-wrapper {
  width: 1100px;
  display: flex;
  justify-content: center;
}

.slider-wrapper {
  max-width: 1080px;
  width: 100%;
  height: 700px;
  position: relative;
  box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
}

#btn-prev,
#btn-next {
  cursor: pointer;
}

#btn-prev {
  background-image: url("../../assets/svg/prev.svg");
  background-repeat: no-repeat;
  background-size: 30px 8px;
  margin-right: 15px;
}

#btn-next {
  background-image: url("../../assets/svg/next.svg");
  background-repeat: no-repeat;
  background-size: 30px 8px;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

.dots-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 15px 150px 0 0;
}

.dot.active {
  background-color: #D2B183;
}

.dots-wrapper__items {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  margin-right: 20px;
  cursor: pointer;
}

.dots-wrapper_count {
  margin-right: 20px;
}

.dots-wrapper__buttons {
  padding-left: 30px;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(22, 13, 13, 0.8);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modalDialog:target {
  display: block;
  pointer-events: auto;
}

.modalDialog > div {
  width: 1300px;
  position: relative;
  margin: 2% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.modaldialog-content {
  display: flex;
}

.data {
  flex: 50%;
}

.data .modaldialog-content__logo {
  font-family: "Forum", cursive;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 35px;
  text-transform: uppercase;
  padding-left: 100px;
  background-image: url("../../assets/svg/tickets/logo_tickets.svg");
  background-size: 85px 41px;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

.data .modaldialog-content__title {
  font-family: 'Forum';
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 55px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

.data .modaldialog-content__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #710707;
}

.price {
  flex: 50%;
  padding: 25px 30px 26px 30px;
}

.price .price__output {
  display: flex;
  margin-bottom: 22px;
}

.price .price__output .output__cols1 {
  flex: 50%;
}

.price .price__output .output__cols1 .price__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.price .price__output .output__cols1 .price__text {
  padding: 2px 0 10px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #740C11;
  opacity: 0.9;
}

.price .price__output .output__cols1 .price__title_font {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #030303;
}

.price .price__output .output__cols1 .price__date {
  padding-left: 25px;
  background-image: url("../../assets/svg/tickets/date.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.price .price__output .output__cols1 .price__time {
  margin: 5px 0 5px 0;
  padding-left: 25px;
  background-image: url("../../assets/svg/tickets/time.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.price .price__output .output__cols1 .price__about {
  padding-left: 25px;
  background-image: url("../../assets/svg/tickets/check_circle_outline.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.price .price__output .output__cols2 .output-foto {
  font-family: "Forum", cursive;
  font-size: 108px;
  font-weight: 400;
  letter-spacing: 35px;
  text-transform: uppercase;
  padding-left: 150px;
  background-image: url("../../assets/svg/tickets/fotos.svg");
  background-size: 150px 120px;
  background-repeat: no-repeat;
  transition: all 0.2s;
}

.price .price__calculation {
  position: relative;
}

.price .price__calculation .price__info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #030303;
}

.price .price__calculation .price__info .price__cols1,
.price .price__calculation .price__info .price__cols2 {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.price .price__calculation .price__info .price__cols1 .price_icons,
.price .price__calculation .price__info .price__cols2 .price_icons {
  padding-left: 45px;
  background-image: url("../../assets/svg/tickets/price_info.svg");
  background-size: 32px 20px;
  background-repeat: no-repeat;
}

.price .price__calculation .price__result {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #030303;
}

.price .price__calculation .price__result::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50px;
  height: 2px;
  width: 100%;
  background-color: #740C11;
}

.price .price__cards {
  margin-top: 10px;
  position: relative;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.price .price__cards .price__content {
  position: relative;
  z-index: 3;
  padding: 15px 20px 15px 20px;
  display: block;
  width: 360px;
  height: 211px;
  background-color: #BCBCBC;
}

.price .price__cards .price__content .price__input {
  display: flex;
}

.price .price__cards .price__content .price__input .price-cols1 .price-input__text {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  outline: none;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  width: 215px;
  height: 35px;
}

.price .price__cards .price__content .price__input .price-cols1 .price-input__number {
  padding: 10px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  outline: none;
  border-radius: 0.25rem;
  margin-right: 15px;
  width: 100px;
  height: 35px;
  background-color: #ffffff;
}

.price .price__cards .price__content .price__input .price-cols1 .price-input__number::-webkit-inner-spin-button, .price .price__cards .price__content .price__input .price-cols1 .price-input__number::-webkit-outer-spin-button {
  opacity: 1;
}

.price .price__cards .price__content .price__input .price-cols2 {
  padding: 15px 0 0 50px;
}

.price .price__cards .price__content .price__input .price-cols2 .price__visa {
  height: 16px;
  background-image: url("../../assets/svg/tickets/visa.svg");
  background-size: 55px 16px;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.price .price__cards .price__content .price__input .price-cols2 .price__master {
  height: 32px;
  padding-left: 100px;
  background-image: url("../../assets/svg/tickets/mastercard.svg");
  background-size: 53px 32px;
  background-repeat: no-repeat;
}

.price .price__cards .price__content .price__hold .price__card-holder {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  outline: none;
  border-radius: 0.25rem;
  width: 320px;
  height: 35px;
}

.price__content_card-two {
  position: absolute;
  top: 30px;
  left: 215px;
  height: 211px;
  padding-left: 360px;
  background-image: url("../../assets/svg/tickets/cardTwo.svg");
  background-size: 360px 211px;
  background-repeat: no-repeat;
  z-index: 2;
}

.price__cvv {
  position: absolute;
  top: 135px;
  left: 480px;
  width: 75px;
  height: 35px;
  background-color: #ffffff;
  z-index: 3;
  padding: 10px;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  outline: none;
  border-radius: 0.25rem;
}

.main {
  display: block;
}

.welcome {
  position: relative;
  background-color: #030303;
  color: #fff;
}

.welcome .welcome-content {
  flex-basis: 50%;
  padding-top: 125px;
  padding-bottom: 246px;
}

.welcome .welcome-content .welcome-content__title {
  position: relative;
  z-index: 3;
  font-family: "Forum", cursive;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.welcome .welcome-content .welcome-content__text {
  position: relative;
  font-size: 28px;
  letter-spacing: 2px;
  padding: 26px 0 76px;
  z-index: 3;
}

.section {
  padding: 75px 0;
}

.title {
  font-family: "Forum", cursive;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.title-underline {
  position: relative;
}

.title-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 3px;
  width: 100%;
  background-color: #710707;
}

.title-gold {
  color: #9d8665;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 77px 60px;
  margin-top: 105px;
}

.cards .cards__item {
  display: block;
  width: 440px;
  color: #000;
}

.cards .cards__item img {
  width: 440px;
  height: 285px;
}

.cards .cards__item .cards-item__title {
  position: relative;
  font-family: "Forum", cursive;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 20px;
}

.cards .cards__item .cards-item__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -12px;
  height: 3px;
  width: 68%;
  background-color: #710707;
  transition: all 0.7s;
}

.cards .cards__item .cards-item__title:hover:after {
  width: 100%;
}

.cards .cards__item .cards-item__text-first {
  font-weight: 100;
  font-size: 22px;
  margin: 21px 0 10px;
}

.cards .cards__item .cards-item__text-last {
  font-weight: 100;
  font-size: 18px;
}

.explore {
  background-color: #030303;
  color: #fff;
}

.explore-container {
  display: flex;
}

.explore-container .info {
  width: 50%;
  margin-top: -3px;
}

.explore-container .info .title_display {
  display: inline;
}

.explore-container .info .info-text_first {
  margin-top: 106px;
  margin-bottom: 27px;
}

.explore-container .info .info-text {
  font-weight: 300;
  font-size: 22px;
  margin-right: 61px;
  line-height: 38px;
}

.explore-container .info .info-text_last {
  margin-top: 27px;
}

.explore-container .img {
  margin-top: 12px;
}

.video-container {
  padding-top: 12px;
}

.video-container .video-player {
  position: relative;
}

.video-container .video-player .video-player__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-container .video-player .video-player__items iframe {
  padding: 5px;
}

.video-container .control-panel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 85px;
  width: 100%;
  margin-top: -5px;
  padding-top: 2px;
  background-color: #000;
}

.video-container .control-panel .input {
  background: linear-gradient(to right, #24809e 0%, #24809e 47%, #c4c4c4 47%, #c4c4c4 100%);
  height: 8px;
  -webkit-appearance: none;
}

.video-container .control-panel .volume {
  display: flex;
  align-items: center;
  width: 15.28%;
}

.video-container .control-panel .volume .input_volume {
  width: 155px;
}

.video-container .video-info {
  display: flex;
  margin-top: 40px;
  padding: 0 0 30px 0;
}

.video-container .video-info .title-gold {
  color: #9d8665;
}

.video-container .video-info .video-info__text {
  flex: 20%;
  padding-left: 40px;
  font-size: 20px;
  line-height: 39px;
}

.gallery {
  background-color: #030303;
  color: #fff;
}

.gallery .gallery-img {
  column-count: 3;
  gap: 45px 45px;
}

.gallery .gallery-img img {
  width: 426px;
  break-inside: avoid;
  padding: 5px;
}

.gallery .picture-container {
  overflow-y: hidden;
  height: 300px;
}

.gallery .picture-inner-container {
  column-count: 3;
  gap: 45px 45px;
  height: 550px;
}

.gallery .picture-container img {
  opacity: 0.5;
  width: 426px;
  break-inside: avoid;
  padding: 5px;
}

.tickets {
  background-color: #fff;
  color: #030303;
  padding-top: 77px;
  padding-bottom: 72px;
}

.content {
  display: flex;
  margin-top: 105px;
}

.content .tickets-order {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.content .tickets-order .ticket-type {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}

.content .tickets-order .ticket-type .ticket-type__title {
  font-size: 28px;
}

.content .tickets-order .ticket-type label {
  position: relative;
  font-size: 22px;
  margin-top: 49px;
  margin-left: 40px;
  cursor: pointer;
  user-select: none;
}

.content .tickets-order .ticket-type label .checkmark {
  position: absolute;
  top: 4px;
  left: -40px;
  height: 17px;
  width: 17px;
  background-color: inherit;
  border: 2px solid #030303;
  border-radius: 50%;
}

.content .tickets-order .ticket-type label .checkmark::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  height: 8px;
  width: 8px;
  background-color: #030303;
  border-radius: 50%;
}

.content .tickets-order .ticket-type label input {
  position: absolute;
  margin-right: 22px;
  opacity: 0;
}

.content .tickets-order .ticket-type label input:checked ~ .checkmark:after {
  display: block;
}

.content .tickets-order .amount {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content .tickets-order .amount .amount__title {
  font-size: 28px;
}

.content .tickets-order .amount .amount__text {
  align-self: flex-start;
  font-size: 22px;
  margin-bottom: 15px;
  margin-left: 25px;
}

.content .tickets-order .amount .amount__text_first {
  margin-top: 10px;
}

.content .tickets-order .amount .tickets-amount {
  padding: 3px 0;
  border: 3px solid #030303;
}

.content .tickets-order .amount .tickets-amount .tickets-amount__btn {
  vertical-align: middle;
  font-weight: 400;
  font-size: 32px;
  color: #030303;
  cursor: pointer;
}

.content .tickets-order .amount .tickets-amount .tickets-amount__btn_first {
  padding-right: 13px;
  padding-left: 10px;
}

.content .tickets-order .amount .tickets-amount .tickets-amount__btn_last {
  padding-right: 11px;
  padding-left: 13px;
}

.content .tickets-order .amount .tickets-amount .tickets-amount__input {
  all: unset;
  vertical-align: middle;
  font-size: 22px;
  text-align: center;
  background-color: inherit;
  color: #030303;
  border: none;
}

.content .tickets-order .amount .amount__text_last {
  margin-top: 35px;
}

.content .tickets-order .amount .total {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1.65px;
  margin: 50px 0 52px 0;
}

.parallax {
  background-image: url("../../assets/img/parallax.jpg");
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  display: flex;
  width: 100%;
  margin-top: 114px;
}

.content .info {
  flex: 1 0 23.33%;
}

.content .info .info__title {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 37px;
}

.content .info .info__text {
  font-size: 22px;
  margin-bottom: 19px;
}

.content .map {
  flex: 2 0 66.66%;
  margin-top: -10px;
}

.footer {
  background-color: #030303;
  padding: 85px 0;
}

.footer .footer-container {
  display: flex;
}

.footer .footer-container .nav {
  display: flex;
  flex: 1 0 50%;
}

.footer .footer-container .nav .footer-logo {
  flex: 1 0 47.2%;
}

.footer .footer-container .nav .navigation {
  max-width: 720px;
  width: 100%;
}

.footer .footer-container .nav .footer-navigation {
  flex: 1 0 52.8%;
  padding-top: 3px;
}

.footer .footer-container .nav .footer-navigation .footer__menu {
  opacity: 0.5;
}

.footer .footer-container .nav .footer-navigation .footer__menu .menu__link_first {
  padding-left: 0;
}

.footer .footer-container .nav .footer-navigation .footer__menu .menu__link_padding {
  padding: 0;
}

.footer .footer-container .nav .footer-navigation .footer__menu .menu__link_last {
  padding-right: 0;
}

.footer .footer-container .socials {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 50%;
  padding-bottom: 2px;
  align-items: flex-end;
}

.footer .footer-container .socials .socials-icon__menu {
  display: flex;
}

.footer .footer-container .socials .socials-icon__menu .icon_size {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #666666;
  border-radius: 50%;
  margin-left: 24px;
  transition: all 0.2s;
}

.footer .footer-container .socials .socials-icon__menu .icon_size:hover {
  background-color: #9d8665;
}

.footer .footer-container .socials .socials-icon__menu .icon_size:active {
  background-color: #710707;
}

.footer .footer-container .socials .socials-icon__menu .youtube {
  background-image: url("../../assets/svg/youtube.svg");
}

.footer .footer-container .socials .socials-icon__menu .instagram {
  background-image: url("../../assets/svg/instagram.svg");
}

.footer .footer-container .socials .socials-icon__menu .facebook {
  background-image: url("../../assets/svg/facebook.svg");
}

.footer .footer-container .socials .socials-icon__menu .twitter {
  background-image: url("../../assets/svg/twitter.svg");
}

.footer .footer-container .socials .socials-icon__menu .pinterest {
  background-image: url("../../assets/svg/pinterest.svg");
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px 0 10px;
  color: #fff;
  font-size: 22px;
  border-top: 1px solid #666666;
  margin-top: 50px;
  opacity: 0.5;
}
